$gray-color: #777;
$bg-color: #f7f7f7;
$white-color: #ffffff;

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    src: local('Roboto-Regular');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}